* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	font-family: Tahoma, helvetica, arial, sans-serif;
}

header {
	visibility: hidden;
}

h3 {
    padding: 6px 6px 19px;
    margin: 0px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}

h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

#page {
	left: 50%;
	height: 300px;
	margin: -150px 0 0 -360px;
	position: absolute;
	top: 30%;
	width: 720px;
}

.sobre p{
    padding: 20px 0px 0px;
    border-top: 1px solid rgba(204, 204, 204, 0.1);
    color: rgb(102, 102, 102);
    line-height: 20px;
    text-align: center;
}

.photo_rapha {
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    width: 118px;
    height: 118px;
    border: 1px solid rgb(255, 255, 255);
}

